PORT=7217
MONGODB_CONNECT_STRING=mongodb://username:password@cluster-address.mongodb.net/dbName
jwtSecretKey=example545fgdfdok43r34
USER_EMAIL=example@gmail.com
PASSKEY=vdfvddddfwdf
CLOUDINARY_NAME=xxxxxxxxx,
CLOUDINARY_API_KEY=59xxxxxxxxxx5,
CLOUDINARY_API_SECRETE=iqxxxxxxxxxxxxxo
NODE_ENV=localhost
RZP_KEY_ID=razorpay_id
RZP_KEY_SECRET=razorpay_secret